// Custom Bootstrap variable overrides go first
/* $grid-breakpoints: (
/*  xs: 0,
/*  sm: 456px,
/*  md: 789px,
/*  lg: 999px,
/*  xl: 1234px
/* ); */
$enable-rounded: false;
$enable-shadows: true;
$enable-gradiens: true;

$body-bg: #ecf0f1;
$body-color: #2c3e50;
// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$blue: #34ace0 !default;
$indigo: #40407a !default;
$purple: #706fd3 !default;
$pink: #ff5252 !default;
$red: #b33939 !default;
$orange: #ffb142 !default;
$yellow: #ffda79 !default;
$green: #218c74 !default;
$teal: #33d9b2 !default;
$cyan: #227093 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);


// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import

// General style overrides and custom classes

/* Sticky footer styles
-------------------------------------------------- */
/*html {
/*    position: relative;
/*    min-height: 100%;
/*}
/*body {
/*    margin-bottom: 60px; /* Margin bottom by footer height */
/*
/* } */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */








